@media only screen and (min-width: 700px) {  
body {
    background-color: #b19cd9;
  
}


    
    #c {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
}



    a {
        background-color: #b19cd9;
    }
    
    
   #center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

    #avi { 
        display: block;
    margin:auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    }

    #table {
        background-color: #b39eb5;
    }
    
    p {
        font-family: Lato;
    }
   
    #purpleback{
        background-color: purple;
    }
     @media print {
        .screen-only {
            display: none;
            
         }
    }
    }
